fieldset {
    box-sizing: border-box;
    border: 2px solid gray;
    padding: 16px;
    /* min-width: 200px;
    max-width: auto; */
    border-radius: 4px;
    width: 100%;
    margin: auto;
}

label {
    display: block;
    margin-top: 1em;
}

input {
    border-radius: 5px;
    border: 2px solid lightgray;
    padding: 0.3rem;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;

}



#calculate  {
    background-color:  green;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
}

 #reset {
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

input::placeholder{
    padding-left: 150px;

}


#heigh[placeholder], #weight[placeholder]{
    left: 30px;
    
}
@media screen and (min-width:430px) {
    fieldset {
        width: 28%;
        min-width: 400px;
    }
}

